@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Permissimsion Denied</h1>


<p>you do not have a rights to assess this page</p>
